body {
	background: url("../images/stars.jpg");
}

#title {
	margin: 70px; 
	background-color: #669999;
	font-family: 'Frijole', cursive;
}


.card {
	margin: 100px;
	background-color: #669999;
	font-family:'Audiowide', cursive;
	

}


